@import "./_variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

.hero {
  background-image: url(https://picsum.photos/1200/800);
  background-position: center;
  background-size: cover;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}
.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 30%;
  margin: auto;
}
Form {
  padding: 3rem;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
}
.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* numero de palabras a mostrar */
  -webkit-box-orient: vertical;
}
.product-card-details-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10; /* numero de palabras a mostrar */
  -webkit-box-orient: vertical;
}
.cards-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 15rem);

  place-content: center; /*NOTA - Centrar*/
}
.product-card img {
  width: 100%;
  height: 30rem;
  border-radius: 1.25rem;
  object-fit: cover;
}
.productlist-h1 {
  margin: 2rem auto 2rem auto;
}
#button-none {
  display: none;
}
.producto-add {
  display: none;
}
.form-label .form-control-custom:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0.25rem rgba(20, 161, 1, 0.25);
}

@media screen and (max-width: 767px) {
  .navbar container {
    justify-content: center;
  }
  .nav-custom1 {
    display: none !important;
  }
  .home-featured {
    display: flex;
  }
  .home-featured-row {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar container {
    justify-content: center;
  }
  .nav-custom1 {
    display: none !important;
  }
}

@media screen and (min-width: 992px) {
}
